<article>
  <div class="container containerWaiter">
    <div class="row waiterRow">
      <div class="col-md-6 tablesLayout">
        <h1> To be prepared</h1>
        <div>
          <ul class="List">

            {{#each tables}}
            {{#each tableDish}}
            {{#unless this.dataValues.isReady}}
            <li class="list-group-item line" data-id="{{this.id}}" data-status="{{this.dataValues.isReady}}"
              style="display:block">
              {{this.dataValues.title}}
            </li>

            {{else}}
            <li class="list-group-item line" data-id="{{id}}" data-status=="{{this.dataValues.isReady}}"
              style="display:none">
              {{this.dataValues.title}}
            </li>
            {{/unless}}
            {{/each}}
            {{/each}}

          </ul>
        </div>
      </div>

      <div class="col-md-6 menu">
        <h1>Ready</h1>
        <div>
          <ul class="List">

            {{#each tables}}
            {{#each tableDish}}
            {{#if this.dataValues.isReady}}
            <li class="list-group-item line" id="dish" data-id="{{this.id}}" data-status=="{{this.dataValues.isReady}}"
              style="display:block">
              {{this.dataValues.title}}
            </li>

            {{else}}
            <li class="list-group-item line" id="dish" data-id="{{id}}" data-status=="{{this.dataValues.isReady}}"
              style="display:none">
              {{this.dataValues.title}}
            </li>
            {{/if}}
            {{/each}}
            {{/each}}

          </ul>
        </div>
      </div>
    </div>
  </div>

</article>

<script type="text/javascript" src="/assets/js/chef.js"></script>