<article>
  <div class="container containerWaiter">
    <div class="row waiterRow">
      <div class="col-md-6 tablesLayout">
        <h1> To be prepared</h1>
        <div>
          <ul class="waiterList" id="dishesList">

            {{#each dishes}}
            {{#unless isReady}}
            <li class="list-group-item" id="dish" data-id="{{id}}" data-status={{isReady}} style="display:block">{{title}}
            </li>
            {{else}}
            <li class="list-group-item" id="dish" data-id="{{id}}" data-status={{isReady}} style="display:none">{{title}}
            </li>
            {{/unless}}
            {{/each}}

          </ul>
        </div>
      </div>


      <div class="col-md-6 menu">
        <h1>Ready</h1>
        <div>
          <ul class="waiterList" id="dishesList">

            {{#each dishes}}
            {{#if isReady}}
            <li class="list-group-item" id="dish" data-id="{{id}}" data-status={{isReady}} style="display:block">{{title}}
            </li>
            {{else}}
            <li class="list-group-item" id="dish" data-id="{{id}}" data-status={{isReady}} style="display:none">{{title}}
            </li>
            {{/if}}
            {{/each}}

          </ul>
        </div>
      </div>
    </div>
  </div>

</article>

<script type="text/javascript" src="/assets/js/chef.js"></script>