<article>
  <div class="dishes">
    <h1 style="padding: 20px 0; margin-top:0px; background: white;">Dishes to be prepared and ready</h1>
    <div class="flex-container">
      {{!-- Left side --}}
      <div class="left-side">
        <h3 style="margin: 15px 0;">Preparing Dishes:</h3>
        {{#each data.dishes}}
        <div class="dish-container">
          <span>#{{this.id}}</span>
          {{this.title}}
          <button class="leftSideBtns" data-idOfDish={{this.id}}>Ready</button>
        </div>
        {{/each}}
      </div>
      {{!-- Right side --}}
      <div class="right-side">
        <h3 style="margin: 15px 0;">Ready Dishes:</h3>
        {{#each data.readyDishes}}
        <div class="dish-container">
          <span>#{{this.id}}</span>
          {{this.title}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</article>

<script type="text/javascript" src="/assets/js/kitchen.js"></script>