<article>
    <div class="supplies-list">
        Supplies to buy
    </div>
     <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 ingedientList">
                <h3>IN STOCK</h3>
                <ul class="list-group">
                    {{#each inStock }}
                        <li  class="list-group-item" data-id="{{id}}" data-quantity=20>{{name}}</li>
                        {{else}}
                            <p class="list-group-item">Nothing in Stock!</p>
                    {{/each}}
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h3>LOW STOCK</h3>
                <ul class="list-group">
                    {{#each lowStock}}
                        <li class="list-group-item" data-id="{{id}}">
                            {{name}}
                            <button class="orderButton"data-id="{{id}}">ORDER</button>
                        </li>
                        {{else}}
                            <p class="list-group-item">Nothing low Stock!</p>
                    {{/each}}
                </ul>
            </div>
            {{!-- <div class="col-6 col-md-4">
                <h3>QUANTITY TO REORDER</h3>
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                </ul>
            </div> --}}
        </div>
</article>

<script type="text/javascript" src="/assets/js/ingredients.js"></script>