{{> mainHeader}}
<article>
  <div class="container containerWaiter">
    <div class="row waiterRow">
      <div class="col-md-6 tablesLayout">
        <h1> Low Stock</h1>
        <div>
        <ul class="List">
            {{#each lowStock}}
                <li class="list-group-item line" data-id="{{id}}">
                    <text>{{name}}</text>
                    <button class="orderButton" data-id="{{id}}">ORDER</button>
                    <text class="quantity">{{quantity}}</text> 
                </li>
            {{/each}}
         </ul>
        </div>
      </div>
      <div class="col-md-6 menu">
        <h1>In Stock</h1>
        <div>
          <ul class="List">
            {{#each inStock}}
                <li class="list-group-item line" data-id="{{id}}" >
                    <text>{{name}}</text><text class="quantity">{{quantity}}</text> 
                </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</article>

<script type="text/javascript" src="/assets/js/ingredients.js"></script>