<article>
    <div class="container containerWaiter">
        <div class="row waiterRow">
            <div class="col-md-6 tablesLayout">
                <h1>Tables</h1>
                <div class="actualTables">
                    <div class="tables" style="display: flex; flex-wrap: wrap;">

                        {{#each tables}}
                        <div class="table"
                            style="width: {{this.dimension.width}}px; height: {{this.dimension.height}}px"><button
                                type="button" class="btn btn-primary tableBtn tbl1">{{this.id}}</button></div>
                        {{/each}}

                    </div>

                    <div id="tableOrder" class="hidden" style="display: none;">

                        {{#each tables}}
                        {{#if this.id }}
                        <h5>Order for table: {{this.id}}</h5>
                        <ul class="waiterList">
                            {{#each tableDish}}
                            <li class="list-group-item orderedDish" id="dish" data-id="{{this.id}}">{{this.dataValues.title}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>


            <div class="col-md-6 menu">
                <h1>Menu</h1>
                <div>
                    <ul class="waiterList" id="dishesList">
                        {{#each dishes}}
                        <li class="list-group-item menuDish" id="dish" data-id="{{this.id}}">{{title}} {{price}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


</article>



<script type="text/javascript" src="assets/js/waiters.js"></script>