{{!-- Define the container --}}
<article>
    <div class="container containerWaiter">
        <div class="row waiterRow">
            <div class="col-md-6 tablesLayout">
                <h1>Tables</h1>
                <div class="actualTables">

                    {{!-- Display the tables --}}
                    <div class="tables" style="display: flex; flex-wrap: wrap;">

                        {{#each tables}}
                        <div class="table available{{this.isAvailable}}" data-id="{{this.id}}"
                            style="width: {{this.dimension.width}}px; height: {{this.dimension.height}}px">
                            <button type="button" class="btn btn-primary tableBtn tbl1">{{this.id}}</button>
                        </div>
                        {{/each}}

                    </div>

                    {{!-- Display the table order --}}
                    <div>
                        {{#each tables}}
                        {{#if this.id }}
                        <h4 class="order{{this.id}} orderTitle" style="display: none;">Order for table: {{this.id}}</h4>
                        <ul class="waiterList order{{this.id}} orderBody" style="display: none;">
                            {{#each tableDish}}
                            <li class="list-group-item orderedDish ready{{this.dataValues.isReady}} line"
                                data-id="{{this.TableDishes.dishId}}" data-tableId="{{this.TableDishes.tableId}}"
                                data-status="{{this.dataValues.isReady}}">
                                {{this.dataValues.title}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{/each}}

                    </div>
                </div>
            </div>

            {{!-- Display the Menu --}}
            <div class="col-md-6 menu">
                <h1>Menu</h1>
                <div>
                    <ul class="List">
                        {{#each dishes}}
                        <li class="list-group-item menuDish line" data-id="{{this.id}}">{{title}} {{price}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


</article>



<script type="text/javascript" src="assets/js/waiters.js"></script>