<article>
    <div class="container containerWaiter">
        <div class="row waiterRow">
            <div class="col-md-6 tablesLayout">
                <h1>Tables</h1>
                <div class="actualTables">
                    <div class="tables">
                        <div class="grid">
                            <div><button type="button" class="btn btn-primary tableBtn tbl1">1</button></div>
                            <div> <button type="button" class="btn btn-primary tableBtn tbl2">2</button>
                            </div>
                            <div><button type="button" class="btn btn-primary tableBtn tbl3">3</button></div>
                        </div>
                        <div class="grid">
                            <div><button type="button" class="btn btn-primary tableBtn tbl4">4</button></div>
                            <div><button type="button" class="btn btn-primary tableBtn tbl5">5</button></div>
                        </div>
                    </div>
                    <div>
                        <h5>Order for table: {{tableNumber}}</h5>
                        <ul class="waiterList">
                            {{#each dishesOrdered}}
                            <li class="list-group-item dish" data-id="{{id}}">{{title}} {{price}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-6 menu">
                <h1>Menu</h1>
                <div>
                    <ul class="waiterList" id="dishesList">
                        {{#each dishes}}
                        <li class="list-group-item dish" data-id="{{id}}">{{title}} {{price}}</li>
                        {{/each}}
                        <li class="dish"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</article>



<script type="text/javascript" src="assets/js/waiters.js"></script>